*{
    box-sizing: border-box;
    font-family: sans-serif;
    /*outline: solid 1px red;*/
}
body{
    background: linear-gradient(90deg, rgb(218, 212, 200) 0%, rgb(10, 109, 202) 20%, rgb(47, 65, 221) 100%); 
    min-height: 100vh;
}
header{
    background-color: whitesmoke;
}
main{
    min-height: 100vh;
}
main h1{
    color: whitesmoke;
}
footer{
    background-color: whitesmoke;
    margin-top: auto;
    
}
.card-body{
    background: linear-gradient(90deg, #414034f8 0%, #c0b64bf8 20%, #f0e003 100%);
    outline: solid 1px #040506;
    border-radius: 2px;
}
.card-text{
    background-color: white;
}